:root {
    --special-color: tomato;
    --secondary-color: purple;
    --light-color: white;
    --dark-color: rgb(87, 5, 5);
    --spacing: 2rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* Space is descendent combinator */

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1;
}

/* Greater-than is direct child combinator */

main > p {
    font-size: 1.5rem;
}

/* Plus is adjacent sibling selector */

h2 + p {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
}

/* Tilde is sibling selector */

.stars span:hover ~ span {
    opacity: 0.2;
}

.stars span {
    cursor: pointer;
}

/* Square brackets are attribute selector */

a[href="#"] {
    color: var(--special-color);
}

    /* Caret is to select Begins With querys */

a[href^="http"] {
    color: var(--secondary-color);
}

    /* Dollar sign is to select Ends With querys */

a[href$=".pdf"] {
    color: var(--light-color);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--dark-color);
    padding: 0.5rem;
    display: block;
    width: fit-content;
}

a[href$=".pdf"]:hover {
    transform: rotateX(360deg);
    transition: 1s;
}

/* Initial, Hover, Active, Visited */

nav a,
nav a:link {
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s;
    display: block;
    width: fit-content;
}

nav a:visited {
    color: var(--special-color);
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    background-color: var(--dark-color);
    transform: scale(1.2);
}

a[href$=".pdf"]::after {
    content: " \2913";
    font-size: 1.3rem;
}

h2 + p::first-line {
    color: red;
}

.rating::first-letter {
    background-color: plum;
    color: var(--light-color);
    padding: 0.25rem;
    margin-right: 0.1rem;
}

h1 {
    padding: var(--spacing);
}